<ion-content [fullscreen]="true" >
  <div *ngIf="auth.user$ | async as user;" class="myprofile">
    <img src="{{user.picture}}" alt="">
    <h2>{{user.email}}</h2>
  </div>
  
  <ion-card class="courses-card" color="light" *ngFor="let ed of myCourses">
    <ion-card-header>
      <ion-card-title>{{ed.overskrift}}</ion-card-title>
      <ion-card-subtitle>{{ed.fag}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ed.beskrivelse}}
    </ion-card-content>
    
    <div class="buttondown">
    <ion-button (click)="deleteID(ed.id)" fill="clear" color="danger" ><ion-icon name="close-circle-outline"></ion-icon>&nbsp;DELETE</ion-button>
    <ion-button fill="clear" color="primary" ><ion-icon name="refresh-circle-outline"></ion-icon>&nbsp;Update</ion-button>
    <ion-button fill="clear" color="primary" ><ion-icon name="enter-outline"></ion-icon>&nbsp;content</ion-button>
    </div>
  </ion-card>
  </ion-content>
  