.userinfo {
    width: 90%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}

.userinfo ion-button {
    font-size: 1.2rem;
    background: #2f2e41;
    color: white;
    border: 1px solid #2f2e41;
    border-radius: 5px;
    font-weight: bold;
}


.btn {
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  background: #2f2e41;
  border: 1px solid #2f2e41;
  margin-right: 20px;

}

.btns .btn1 {
  margin-right: 10px;
}

.btn:Hover {
  background-color: white;
  color: #2f2e41;
  border: 1px solid #2f2e41;
  transition: 500ms;
}