<ion-content [fullscreen]="true">

<!-- section hero -->
  <div class="container">

    <div class="img">
      <img src="../../../assets/images/Classes.png">
  
      <div class="txt">
        <h1>Digital Academic <br> Platform</h1>
        <p> We teach people through technology </p>
        <!-- <button class="btn" (click)="scrollDown()">Learn more </button> -->
        <button fill="outline" (click)="scrollDown()" class="btn" >
          <span style="margin-right: 10px;">Learn more</span>
          <ion-icon slot="end" name="arrow-down"></ion-icon>
        </button>
      </div>
    </div>
  
  </div>
<!-- section hero -->




<!-- section one -->
  <div class="containerr" id="containerr">

    <div class="sectionOne" >
      <div class="venstre">
        <img src="../../../assets/images/Student-Discussing-in-library.png">
      </div>
  
      <div class="hojre">
        <h3>About studyRoom</h3>
        <p>
          Studyroom is a platform on which courses in a number of subjects are
          provided by tutors. Our application helps students, no matter where
          they may be, face their challenges with various subjects. The end goal is to
          improve the access to quality education everywhere and in the end create more
          opportunities to get decent work. Please visit our about page to learn more.
        </p>
      </div>
    </div>
  
    <div class="sectionTwo">
      <div class="venstre">
        <h3>About courses</h3>
        <p>
          The courses on our platform are created by willing tutors. The system in place
          allows teachers all around the world set up courses for those in need. In turn, our
          students gain FREE access to these courses to help overcome their educational struggles.
          Simply sign up and visit the courses section to get started!
        </p>
      </div>
  
      <div class="hojre">
        <img src="../../../assets/images/Online-communication-skills.png">
      </div>
    </div>
  </div>
<!-- section one -->




<!-- section slider -->
  <div class="containerrr">

    <h4 class="overskrift"> We offer help in a variety of subjects</h4>
  
  
    <ion-slides [options]="option">
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>Religion</h4>
        <p>Courses in this subject will teach the history and values in the various religions praciced all over the world. This includes everything from Christianity to Buddhism. You will be able to learn about the rich culture spread throughout these religions as well as their fundamental teachings.</p>     
       </ion-card>
      </ion-slide>
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>Math</h4>
        <p>One of the most important subjects to have a basic understanding of, math courses will provide you with the fundamentals of calculating alongside more advanced courses. Regardless if you struggle with everything math or just a certain aspect of math, we promise you will find a course to guide you.</p>     
       </ion-card>
      </ion-slide>
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>History</h4>
        <p>Courses on the topic of history will provide knowledge in the history of the world around you. You will be provided the ability to learn about both indiviudal countries' histories as well as world spanning events. Expanding your knowledge on history will give you better opportunity to understand the world around you.</p>     
       </ion-card>
      </ion-slide>
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>English</h4>
        <p>Being one of the most used languages in the world, being able to speak English is a great skill to have. Courses found here will provide you with both fundamental language excersises as well as more advanced writing techniques, depending on your needs. Whether you can barely say a word or already have a full grasp of speaking the language, you can find a course for you.</p>     
       </ion-card>
      </ion-slide>
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>Marketing</h4>
        <p>Courses found in marketing will provide you with knowledge, tips and tricks on various subjects in marketing. Whether it be how to launch a product yourself, how to make solid financial decisions or simply how to manage your own currency there will be a course that will help you better understand economics.</p>     
       </ion-card>
      </ion-slide>
  
      <ion-slide class="slideren">
        <ion-card class="kort">
        <h4>Biology</h4>
        <p>In this subject, courses will teach you a variety of biological sciences. Biology is a good subject to have a handle on to better understand how the world works. Courses in this subject will both contain simpler base topics and also more advanced things in the field of biology.</p>     
       </ion-card>
      </ion-slide>
   
  
    </ion-slides>
  
  </div>
<!-- section slider -->


  <app-footer></app-footer>
</ion-content>
