#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}







// hero

.container {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgb(253, 253, 253), rgba(233, 249, 238, 0.597));
  background-color: #e9f9ee;
  background-size: cover;
  color: #2f2e41;
  background-position: center;
}

.container img {
  bottom: 0px;
  position: absolute;
  right: 0;
}


.txt {
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  top: 150px;
  left: 30px;
}

.txt h1 {
  font-size: 55px;

}

.txt p {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 0px;
}


.txt .btn {
  background-color: #f5fbf6;
  border: 1px solid #2f2e41;
  border-radius: 5px;
  color: #2f2e41;
  font-weight: bold;
  width: fit-content;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.txt .btn:hover {
  background-color: #2f2e41;
  transition: 500ms;
  color: white;
}



// section one 

.containerr {
  padding-top: 100px !important;
  background-color: #fdfdfd;
  // padding: 0px 200px;
  // padding-bottom: 100px !important;
  color: #2f2e41 !important;
}

// .sectionOne {
//   display: flex;
// }

.containerr .sectionOne .venstre img {
  background-size: cover;
  border-radius: 10px;
}

// .containerr .sectionOne  .venstre {
//   margin-right: 50px !important;
//   width: 50%;
//   margin: auto;
// }


.containerr .sectionOne  .hojre {
  padding: 0px 20px;
  text-align: justify;
  width: 100%;
}

.hojre h3 {
  font-weight: bold;
  font-size: 28px;
}


/////


.sectionTwo {
  display: grid;
  margin-top: 50px;
}

.containerr .sectionTwo .hojre img {
  background-size: cover;
  border-radius: 10px;
}

.containerr .sectionTwo  .venstre {
  margin: auto;
    width: 100%;
    padding: 0px 20px;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
}


.containerr .sectionTwo  .hojre {
  width: 100%;
  margin: auto;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.venstre h3 {
  font-weight: bold;
  font-size: 28px;
}

@media only screen and (min-width: 600px) {

  .containerr {
    padding-top: 100px !important;
    background-color: #fdfdfd;
    padding-bottom: 100px !important;
    color: #2f2e41 !important;
  }

  .sectionOne {
    display: flex;
  }

  .containerr .sectionOne  .venstre {
    width: 50%;
    margin: auto;
  }

  .containerr .sectionOne  .hojre {
    margin: auto;
    text-align: justify;
    width: 50%;
  }


  .sectionTwo {
    display: flex;
  }

  .containerr .sectionTwo  .venstre {
    margin: auto;
    width: 50%;
    text-align: justify;

  }

  .containerr .sectionTwo  .hojre {
    width: 50%;
    margin: auto;

  }

}



@media only screen and (min-width: 1100px) {

  .containerr {
    padding: 0px 100px;
  }

  .containerr .sectionTwo  .hojre {
    margin-left: 50px !important;
  }



  .containerr .sectionOne  .venstre {
    margin-right: 50px !important;
  }

  .sectionTwo {
    margin-top: 50px;
}

  
}



// section slider 



ion-card {
  width: 100%;
  height: 360px;
  box-shadow: none;
  border-radius: 12px;


  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}


.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}


.containerrr {
  background-color: #fdfdfd;
  padding: 100px 20px;
}



.kort {
  background-color: rgb(247 247 247);
  color: #2f2e41;
  padding: 0px 20px;
  text-align: left;
}



.containerrr h5 {
  color: #2f2e41;
  font-size: 23px;
  font-weight: bold;
  // width: fit-content;
  // padding: 5px;
  // border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.061);
  padding-bottom: 5px;
}


.containerrr h4 {
  color: #2f2e41;
  font-size: 28px;
  font-weight: bold;

}
// .container h4:first-child {
//   border-bottom: none;
// }


@media only screen and (min-width: 1100px)  {
  .containerrr {
    background-color: #fdfdfd;
    padding: 100px 120px;
  }

  
}