<div class="container">

  <div class="logo">
    <p>studyRoom</p>
  </div>

  <div class="nav">
    <ul>
      <li> <a routerLink="/create" >Create</a> </li>
      <li> <a routerLink="/read" >Read</a> </li>
      <li> <a>Om os</a> </li>
      <li> <a>Kurser</a> </li>
    </ul>
  </div>

  <div class="btns">
    <ng-template #loggedOut>
    <button class="btn btn1" (click)="auth.loginWithRedirect()">Log ind</button>
    <button class="btn btn2">Opret</button>
    </ng-template>
<div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <button class="btn btn1" (click)="auth.logout()">
        Log out
      </button>
  </div>
  </div>

</div>
