<div class="container">

  <div class="logo">
    <h3>studyRoom</h3>

    <label>Tilmeld dig vores nyhedsbrev her</label> <br><br>
    <input placeholder="Indtast e-mail">
    <p class="tilmeldBtn">Tilmeld</p>

    <div class="icons">
      <ion-icon
      name="logo-facebook"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="logo-linkedin"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="mail-outline"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="call-outline"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    </div>

  </div>

  <div class="footer">
    <h3>partnerskab</h3>
    <ul>
      <li>kontakt</li>
      <li>Om os</li>
      <li>Services</li>
      <li>Lektiehjælp</li>
    </ul>
  </div>

  <div class="footer">
    <h3>About</h3>
    <ul>
      <li>kontakt</li>
      <li>Om os</li>
      <li>Services</li>
      <li>Lektiehjælp</li>
    </ul>
  </div>

  <div class="footer">
    <h3>Support</h3>
    <ul>
      <li>kontakt</li>
      <li>Om os</li>
      <li>Services</li>
      <li>Lektiehjælp</li>
    </ul>
  </div>
</div>

