<div class="containerr" id="targetRed">

  <div class="sectionOne">
    <div class="venstre">
      <img src="../../../assets/images/Student-Discussing-in-library.png">
    </div>

    <div class="hojre">
      <h3>About studyRoom</h3>
      <p>
        Studyroom is a platform on which courses in a number of subjects are
        provided by tutors. Our application helps students, no matter where
        they may be, face their challenges with various subjects. The end goal is to
        improve the access to quality education everywhere and in the end create more
        opportunities to get decent work. Please visit our about page to learn more.
      </p>
    </div>
  </div>

  <div class="sectionTwo">
    <div class="venstre">
      <h3>About courses</h3>
      <p>
        The courses on our platform are created by willing tutors. The system in place
        allows teachers all around the world set up courses for those in need. In turn, our
        students gain FREE access to these courses to help overcome their educational struggles.
        Simply sign up and visit the courses section to get started!
      </p>
    </div>

    <div class="hojre">
      <img src="../../../assets/images/Online-communication-skills.png">
    </div>
  </div>


</div>
