.containerr {
  padding-top: 100px !important;
  background-color: #fdfdfd;
  // padding: 0px 200px;
  // padding-bottom: 100px !important;
  color: #2f2e41 !important;
}

// .sectionOne {
//   display: flex;
// }

.containerr .sectionOne .venstre img {
  background-size: cover;
  border-radius: 10px;
}

// .containerr .sectionOne  .venstre {
//   margin-right: 50px !important;
//   width: 50%;
//   margin: auto;
// }


.containerr .sectionOne  .hojre {
  padding: 0px 20px;
  text-align: justify;
  width: 100%;
}

.hojre h3 {
  font-weight: bold;
  font-size: 28px;
}


/////

.sectionTwo {
  display: grid;
}

.containerr .sectionTwo .hojre img {
  background-size: cover;
  border-radius: 10px;
}

.containerr .sectionTwo  .venstre {
  margin: auto;
    width: 100%;
    padding: 0px 20px;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
}


.containerr .sectionTwo  .hojre {
  width: 100%;
  margin: auto;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.venstre h3 {
  font-weight: bold;
  font-size: 28px;
}

@media only screen and (min-width: 600px) {

  .containerr {
    padding-top: 100px !important;
    background-color: #fdfdfd;
    padding-bottom: 100px !important;
    color: #2f2e41 !important;
  }

  .sectionOne {
    display: flex;
  }

  .containerr .sectionOne  .venstre {
    width: 50%;
    margin: auto;
  }

  .containerr .sectionOne  .hojre {
    margin: auto;
    text-align: justify;
    width: 50%;
  }


  .sectionTwo {
    display: flex;
  }

  .containerr .sectionTwo  .venstre {
    margin: auto;
    width: 50%;
    text-align: justify;

  }

  .containerr .sectionTwo  .hojre {
    width: 50%;
    margin: auto;

  }

}



@media only screen and (min-width: 1100px) {

  .containerr {
    padding: 0px 100px;
  }

  .containerr .sectionTwo  .hojre {
    margin-left: 50px !important;
  }

  .containerr .sectionOne  .venstre {
    margin-right: 50px !important;
  }

  .sectionTwo {
    margin-top: 50px;
}

  
}
