<div class="containerr">

  <div class="sectionOne">
    <div class="venstre">
      <img src="../../../assets/images/Student-Discussing-in-library.png">
    </div>

    <div class="hojre">
      <h3>Om studyRoom</h3>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale. Vi udvælger naturligvis en mentor, der matcher dit barns faglige udfordringer og bopæl. Men vi bestræber os også på at finde en mentor, der matcher dit barns personlighed.</p>
    </div>
  </div>

  <div class="sectionTwo">
    <div class="venstre">
      <h3>Vores undervisere</h3>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale. Vi udvælger naturligvis en mentor, der matcher dit barns faglige udfordringer og bopæl. Men vi bestræber os også på at finde en mentor, der matcher dit barns personlighed.</p>
    </div>

    <div class="hojre">
      <img src="../../../assets/images/Online-communication-skills.png">
    </div>
  </div>


</div>
