

tr .row {
    background-color: blue;
    margin: 0px 10px;
    padding: 10px;
    width: 200px;
    text-align: left;
}


tr .vaerdi {
    background-color: rgba(0, 0, 0, 0.048);
    margin: 0px 10px;
    padding: 10px;
    text-align: left;
}


.deltebtn {
    padding: 7px 10px;
    border-radius: 3px;
    background-color: red;
    font-weight: bold;
    margin-right: 10px;
}

.updateBtn {
    padding: 7px 10px;
    border-radius: 3px;
    background-color: green;
    font-weight: bold;
}

.updateBtn a {
    color: white;
    text-decoration: none;
}

.err {
    background-color: #ff0000a6;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
}

.kursusContainer {
    background-color: #f5f5f5;
    width: 48%;
    margin: 1%;
    border-radius: 3px;
    color: black;
}

.kursusContainer div.img {
    padding: 0px;
    margin: 0px;
    height: 100px;
    position: relative;
}

.kursusContainer div.img img {
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.kursusContainer .indhold {
    padding: 10px;
}

.kursusContainer p.fag {
    left: 48%;
    margin-left: -48px;
    bottom: -16px;
    position: absolute;
    background-color: #f5f5f5;
    width: fit-content;
    padding: 5px;
    font-size: 13px;
}

.kursusContainer h5, p {
    text-align: center;
}



.container {
    margin: 10px auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

}