<ion-content [fullscreen]="true" style="background-color: white;">

  <div class="containerParent">
    <!-- <ion-searchbar style="border-radius: 20px;" class="search" placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar> -->
    <h4 class="overskrift"> All Courses </h4>
    <input class="search" type="text" placeholder="Search..">

    <div class="containerr">
      <div *ngIf="deletedSuccesMsg" class="err">
        <p>User deleted.</p>
      </div>
    
    
      <div class="kursusContainer"*ngFor="let us of readData">
        <div class="img"> <img src="{{us.img}}" >
          <p class="fag"> {{us.fag}} </p>
        </div>
        <div class="indhold">
          <h5> {{us.overskrift}} </h5>
          <p> {{us.beskrivelse}} </p>
      
          <button class="deltebtn" (click)="deleteID(us.id)">Delete</button>
          <button class="updateBtn">
            <a [routerLink]="['/create', us.id]">Update</a> 
          </button>
        </div>
    
    
      </div>
    
    </div>


  </div>


  

</ion-content>

