

tr .row {
    background-color: blue;
    margin: 0px 10px;
    padding: 10px;
    width: 200px;
    text-align: left;
}


tr .vaerdi {
    background-color: rgba(0, 0, 0, 0.048);
    margin: 0px 10px;
    padding: 10px;
    text-align: left;
}

.deltebtn {
    padding: 7px 10px;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.137);
    color: #2f2e41;
    text-decoration: none;
    margin-right: 10px;
}

.deltebtn:hover {
    padding: 7px 10px;
    border-radius: 3px;
    background-color: red;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}






.updateBtn a {
    padding: 7px 10px;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.137);
    color: #2f2e41;
    text-decoration: none;
}

.updateBtn a:hover {
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 3px;
    background-color: green;
    font-weight: bold;
    color: white;
}

.err {
    background-color: #ff0000a6;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
}

.kursusContainer {
    background-color: #f5f5f5;
    width: 20%;
    margin: 1%;
    border-radius: 3px;
    color: black;
}

.kursusContainer:hover {
    box-shadow: 0 0 21px rgb(33 33 33 / 20%);
}

.kursusContainer div.img {
    padding: 0px;
    margin: 0px;
    height: 100px;
    position: relative;
}

.kursusContainer div.img img {
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.kursusContainer .indhold {
    padding: 10px;
}

.kursusContainer p.fag {
    left: 48%;
    margin-left: -48px;
    bottom: -16px;
    position: absolute;
    background-color: #f5f5f5;
    width: fit-content;
    padding: 5px;
    font-size: 13px;
}

.kursusContainer h5, p {
    text-align: center;
}



.containerr {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;

}


.containerParent {
    margin-top: 100px;
}




.search {
    width: 200px;
    border-radius: 5px;
    background-color: white;
    margin-left: 14px;
    padding: 5px 2px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}


.overskrift {
    margin-left: 14px;
}

.searchbar {
    width: 300px;
    border-radius: 20px;
}

input.searchbar-input.sc-ion-searchbar-md {
    border-radius: 20px;
}
