
.container {
  padding-bottom: 100px;
  background-color: #fdfdfd;
  color: #2f2e41;
}


.container .fagene {
  display: flex;
  justify-content: center;
}

.container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  margin-top: 0px;
}


.fag {
  background-color: #b2d4fb;
  color: black;
  margin: 0px 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  padding: 10px 0px;
}

.fag:hover {
  background-color: #1571f2;
  color: white;
}


.fagene {
  margin-bottom: 15px;
}

.fagene:last-child {
  margin-bottom: 0px;
}
