<div class="container">

  <h3>Vi hjælper i alle fag i grundskolen</h3>

  <div class="fagene">

    <div class="fag">dansk</div>
    <div class="fag">Historie</div>
    <div class="fag">Religion</div>

  </div>

  <div class="fagene">

    <div class="fag">Matematik</div>
    <div class="fag">Fysik & Kemi</div>
    <div class="fag">Geografi</div>

  </div>

  <div class="fagene">

    <div class="fag">Engelsk</div>
    <div class="fag">Fransk</div>
    <div class="fag">Tysk</div>

  </div>


</div>

