<!-- <div class="container">

  <h3>Vi hjælper i alle fag i grundskolen</h3>

  <div class="fagene">

    <div class="fag">dansk</div>
    <div class="fag">Historie</div>
    <div class="fag">Religion</div>

  </div>

  <div class="fagene">

    <div class="fag">Matematik</div>
    <div class="fag">Fysik & Kemi</div>
    <div class="fag">Geografi</div>

  </div>

  <div class="fagene">

    <div class="fag">Engelsk</div>
    <div class="fag">Fransk</div>
    <div class="fag">Tysk</div>

  </div>


</div>
 -->


<div class="container">

  <h4> Vi hjælper i disse fag</h4>


  <ion-slides [options]="option">

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Religion</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Matematik</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Afsætning</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Økonomi</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Marketing</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>

    <ion-slide class="slideren">
      <ion-card class="kort">
      <h4>Finans</h4>
      <p>Alle vores mentorer er certificerede topstuderende. De har gennemgået en screeningsproces og er testet på deres faglige og pædagogiske færdigheder. Mentorerne deltager løbende i kurser og har adgang til undervisningsmateriale fra Gyldendal Uddannelse og Systime, så de kan opdatere deres viden og finde nyt materiale.</p>     
     </ion-card>
    </ion-slide>
 

  </ion-slides>

</div>
