
// .container {
//   padding-bottom: 100px;
//   background-color: #fdfdfd;
//   color: #2f2e41;
// }


// .container .fagene {
//   display: flex;
//   justify-content: center;
// }

// .container h3 {
//   text-align: center;
//   margin-bottom: 20px;
//   font-size: 28px;
//   margin-top: 0px;
// }


// .fag {
//   background-color: #b2d4fb;
//   color: black;
//   margin: 0px 10px;
//   border-radius: 5px;
//   width: 100px;
//   text-align: center;
//   padding: 10px 0px;
// }

// .fag:hover {
//   background-color: #1571f2;
//   color: white;
// }


// .fagene {
//   margin-bottom: 15px;
// }

// .fagene:last-child {
//   margin-bottom: 0px;
// }




ion-card {
  width: 100%;
  height: 360px;
  box-shadow: none;
  border-radius: 12px;


  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}


.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}


.container {
  background-color: #fdfdfd;
  padding: 100px;
}



.kort {
  background-color: rgb(247 247 247);
  color: black;
  padding: 0px 20px;
  text-align: left;
}

.container h3 {
  color: black;
  font-size: 28px;
  font-weight: bold;
}