.container {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  color: #2f2e41;
}

.btns {
  text-align: end;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0px 20px;
}


.nav a {
  color: black;
}

.logo p {
  font-size: 25px;
}

.btn {
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  background: #2f2e41;
}

.btns .btn1 {
  margin-right: 10px;
}





