<ion-content [fullscreen]="true">
  <div class="container"> 
  <h1 class="about-h1">About Us.</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="padding-bottom: 5%;">
          <ion-card-title>
            <h2 style="text-align: center;">Who are we?</h2>
          </ion-card-title>
          <ion-card-content>
            We here at StudyRoom are a small collective of people with an interest in spreading the value of education as far and wide as we possibly can. Our goal is to help create a partial solution to UN's development goals #4 and #8 (Quality Education and Decent Work). With our platform, we hope to help those that are challenged without proper education to catch up on it and in the end be able to get a decent workspace.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <h2 style="text-align: center;">What do we do?</h2>
          </ion-card-title>
          <ion-card-content>
            We provide a platform on which those of you who feel educationally challenged can find and participate in courses aimed at helping with the various topics you may struggle in. On the flipside, we also provide a space in which tutors can create and submit courses with the goal above in mind. From this, we hope to provide a constant stream of educational value to make as much of an improvement to the general quality of education as possible.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="padding-bottom: 5%;">
          <ion-card-title>
            <h2 style="text-align: center;">What is asked of you?</h2>
          </ion-card-title>
          <ion-card-content>
            Nothing! ...Well, we do require you to sign up and create an user in order for you to either participate in or create courses. However, we want this platform to be as accessible to as many people as possible. As such, no charge is asked of you. Participation in courses is absolutely free. If you are a tutor, you may be asked to verify qualifications to create courses but that is all that we require.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="about-contact">
    <ion-card-title>
      <h2 style="text-align: center;">Got questions? Feel free to contact us!</h2>
    </ion-card-title>
    <ion-card-content class="about-contact-content">
      Email: StudyRoom@email.com<br>
      Phone: 12345678<br>
      (The line is open between 11 AM - 2 PM CEST week days only.)
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>