<div class="container">

  <div class="logo">
    <h3>studyRoom</h3>

    <label>Subscribe to our newsletter here </label> <br><br>
    <input class="input" placeholder="Insert e-mail">
    <p class="tilmeldBtn">Subscribe</p>

    <div class="icons">
      <ion-icon
      name="logo-facebook"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="logo-linkedin"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="mail-outline"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    <ion-icon
      name="call-outline"
      size="large"
      class="md:py-4 ikon"
    ></ion-icon>
    </div>

  </div>

  <div class="footer">
    <h3>Company</h3>
    <ul>
      <li>Careers</li>
      <li>Partnerships</li>
      <li>Blog</li>
      <li>Forum</li>
    </ul>
  </div>

  <div class="footer">
    <h3>Links</h3>
    <ul>
      <li>Home</li>
      <li>Courses</li>
      <li>Courses</li>
      <li>Why Pick Us</li>
    </ul>
  </div>

  <div class="footer">
    <h3>Contact</h3>
    <ul>
      <li>+45 12 34 56 78</li>
      <li>contact@studyroom.com</li>
      <li>Frederikssundsvej 155B, st. TV </li>
    </ul>
  </div>
</div>

